
:wave: Welcome to the **LHCb** Open Data service!

Congratulations! Your request has been approved by the *LHCb Open Data Team* and submitted to
the *LHCb Analysis Productions service*!

The internal testing system has been successfully completed, creating a small test sample.

Please take a moment to assess the test Ntuples and consider the following:

1. Is the estimated output size within a feasible range for you?
2. Do all expected variables exist in the ROOT file?

If the test statistic fulfills the above criteria and you are satisfied with the results, please confirm
your request here.

**Next Steps:**
* Once you confirm you are satisfied with the test result, the **LHCb** Open Data Team will send
the request to full production
* You will be notified once the production is finished. The ROOT files are then transfered to the Open Data Portal.
* You can then access the data freely. Have fun on your Analysis!


Thank you for your patience.
If you have further questions or concerns, please feel free to reach out by leaving a comment
on your request, by sending an email to [opendata-support@cern.ch](mailto:lopendata-support@cern.ch) or by opening
a ticket on the [Opendata Data Forum](https://opendata-forum.cern.ch).


`B0_KstMuMu_Run2` will process approximately 85954.9 GB of data and is expected to generate around 34.3 GB of output.
Please note that the actual size of the output files may vary from the estimate.




---
**N.B.** this is an automated message from the friendly Analysis Productions Bot.
